/* styles go here */

.input-lable {
  display: block;
}

.input-lable:not(:last-child) {
  margin-bottom: 10px;
}

.form-section:not(:last-child) {
  margin-bottom: 20px;
}

.input-description {
  margin: 0;
  display: inline;
}
